html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.montserrat-subrayada-regular {
  font-family: "Montserrat Subrayada", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-subrayada-bold {
  font-family: "Montserrat Subrayada", sans-serif;
  font-weight: 700;
  font-style: normal;
}


body,html{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.main{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 30px;
    flex-direction: column;
}




@font-face {
    font-family: Clip;
    src: url("https://acupoftee.github.io/fonts/Clip.ttf");
  }
  
  
  .sign {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 7%;
    background-image: radial-gradient(
      ellipse 50% 35% at 50% 50%,
      #6b1839,
      transparent
    );
    transform: translate(-50%, -50%);
    letter-spacing: 2;
    left: 50%;
    top: 5.9%;
    font-family: "Montserrat Subrayada", sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    color: #660404;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff0000,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #8f0000,
      0 -0.5rem 2rem #ff2424, 0 0.5rem 3rem #530024;
    animation: shine 2s forwards, flicker 3s infinite;

    opacity: 0.33;  
  }
  
  @keyframes blink {
    0%,
    22%,
    36%,
    75% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff0000,
        -0.2rem 0.1rem 1rem #ff0000, 0.2rem 0.1rem 1rem #ff0000,
        0 -0.5rem 2rem #ff0000, 0 0.5rem 3rem #ff0000;
    }
    28%,
    33% {
      color: #ff0000;
      text-shadow: none;
    }
    82%,
    97% {
      color: #ff0000;
      text-shadow: none;
    }
  }
  
  .flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
  }
  
  .fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
  }
  
  @keyframes shine {
    0% {
      color: #6b1839;
      text-shadow: none;
    }
    100% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff0000,
        -0.2rem 0.1rem 1rem #ff0000, 0.2rem 0.1rem 1rem #ff0000,
        0 -0.5rem 2rem #ff0000, 0 0.5rem 3rem #ff0000;
    }
  }
  
  @keyframes flicker {
    from {
      opacity: 1;
    }
  
    4% {
      opacity: 0.9;
    }
  
    6% {
      opacity: 0.85;
    }
  
    8% {
      opacity: 0.95;
    }
  
    10% {
      opacity: 0.9;
    }
  
    11% {
      opacity: 0.922;
    }
  
    12% {
      opacity: 0.9;
    }
  
    14% {
      opacity: 0.95;
    }
  
    16% {
      opacity: 0.98;
    }
  
    17% {
      opacity: 0.9;
    }
  
    19% {
      opacity: 0.93;
    }
  
    20% {
      opacity: 0.99;
    }
  
    24% {
      opacity: 1;
    }
  
    26% {
      opacity: 0.94;
    }
  
    28% {
      opacity: 0.98;
    }
  
    37% {
      opacity: 0.93;
    }
  
    38% {
      opacity: 0.5;
    }
  
    39% {
      opacity: 0.96;
    }
  
    42% {
      opacity: 1;
    }
  
    44% {
      opacity: 0.97;
    }
  
    46% {
      opacity: 0.94;
    }
  
    56% {
      opacity: 0.9;
    }
  
    58% {
      opacity: 0.9;
    }
  
    60% {
      opacity: 0.99;
    }
  
    68% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.9;
    }
  
    72% {
      opacity: 0.95;
    }
  
    93% {
      opacity: 0.93;
    }
  
    95% {
      opacity: 0.95;
    }
  
    97% {
      opacity: 0.93;
    }
  
    to {
      opacity: 1;
    }
  }
  
  
  
  Resources

.main_h1{
    font-size: 50px;
    font-family: "Montserrat Alternates", sans-serif;
    color: white;
    margin-bottom: 30px ;
    text-decoration: underline;
    margin-top: 30px;
}

.main_menu{
    display: flex;
    align-items: center;
    color: aliceblue;
    flex-direction: column;
    gap: 10px;
    text-align: start;
}

.menu_item{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family:"Big Shoulders Text", sans-serif;
    font-weight: 100;
    font-size: 19px;
}

.last-menu{
    margin-bottom: 30px;
}

canvas {
    display:block;
    margin:auto;
    background:#ecf0f110;
  }

.main_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    overflow: hidden;
}

.last-item{
    text-decoration: underline;
}

.first_p{
    margin-top: 180px !important;
}

.beetwen-p{
    color: aliceblue;
    font-size: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%;
}

    
    
    
